body {
  margin: 0;
  padding: 0;
}

/*global removal of default colored links*/
a {
  color: green;
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: yellow;
}

.navbar ul {
  margin: 0;
  
}

.navbar ul li {
  display: inline;
  font-size: 30px;
  
}

.navbar ul li a {
  padding: 10px;
}
