@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/****************************************/


body, html, h1, h2, h3, h4, h5, a, p, li, ul {
  margin: 0;
  padding: 0;
}

* {
  font-family: Poppins;
  font-weight: 900;
}

h3 {
  color: white;
  font-size: 35px;
  padding-left: 8px;
}

/*global removal of default colored links*/
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

p {
  font-style: oblique;
  margin: 0;
  font-size: 30px;
  
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 15px;
}

.navbar ul {
  margin: 0;
  
}

.navbar ul li {
  display: inline;
  font-size: 30px;
  
}

.navbar ul li a {
  padding: 0 10px 0 10px ;
}

.navbar ul li a:hover {
  color: black;
  
}

.home {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.home-bg {
  display: flex;
  background-image: url('./Assets/Images/home_bg.png');
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  justify-content: center;
  align-items: center;
}

#test {
  width: 50vw;
}
/* .home-logo {
  background-image: url('./Assets/Images/cropped-home-title.png');
  height: 379px;
  width: 1011px;
  background-repeat:no-repeat;
  max-width: 1920;
  max-height: 1080;
  aspect-ratio: 16/9;
} */


@media only screen and (max-width: 428px) {
  .navbar {
    position: fixed;
    
  }

  #test {
    width: 80vw;
  }
}
  
