@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/****************************************/

* {
  font-family: Poppins;
  font-weight: 900;
}

h1 {
  margin: 0;
  color: green;
}

body {
  margin: 0;
  padding: 0;
}

/*global removal of default colored links*/
a {
  color: green;
  text-decoration: none;
}

p {
  color: yellow;
  font-style: oblique;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: yellow;
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar ul {
  margin: 0;
  
}

.navbar ul li {
  display: inline;
  font-size: 30px;
  
}

.navbar ul li a {
  padding: 0 10px 0 10px ;
}

.navbar ul li a:hover {
  color: black;
  
}

.hero-image {
  background: url(./Assets/Images/hero-image.png);
  width: 100%;
  max-width: 100%;
  height: auto; /* or fixed height if needed */
  overflow: hidden; /* This prevents scrollbar if image exceeds container size */
}

#center-text {
  text-align: center;
}